
<div class="container">
<div class="row">
<div class="col-md-10 col-sm-10 mx-2 mx-sm-auto align-text-center rounded px-0 my-5">



<h4>商品新規登録</h4>


  <%= form_with model: @item, url:admin_items_path, method: :post do |f| %>
  <h6>商品画像</h6>
  <%= f.file_field :image, accept: "image/*" %>
  <h6>商品名</h6>
  <%= f.text_field :name %>
  <h6>商品説明</h6>
  <%= f.text_area :introduction %>
  <h6>税抜価格</h6>
  <%= f.text_field :price %>円
  
  </br>
  </br>

  <%= f.submit '新規登録', class: "btn btn-success" %>
  <% end %>

</div>
</div>
</div>
