商品詳細

  <div>
    <%= image_tag @item.image, size: "200x200" %>
    <p>商品名<%= @item.name %></p>
    <p>商品説明<%= @item.introduction %></p>
    <p>税込価格（税抜価格）：<%= @item.add_tax_price.to_s(:dalimited) %> (<%= @item.price %>)</p>
    <p>販売ステータス</p>
  </div>


 <%= link_to "編集する", edit_admin_item_path %>
