

  <div class="container">
　<div class="row">
　<div class="col-md-8 col-sm-10 mx-2 mx-sm-auto align-text-center rounded px-0 my-5">

   ようこそ、ながのCAKEへ！<br>
   このサイトは、ケーキ販売のECサイトになります。</br>
   会員でない方も商品の販売はできますが、</br>
   購入には会員登録が必要になります。</br>

  </div>
  </div>


   <h5 class="title">新着商品</h5>

    <div class="card-group">
    <% @items.each do |item| %>
    <div class="card">

    <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image(50,50), class:"card-img-top" %>
    <% end %>

    <div class="card-body">
    <p class="card-text"><%= item.name %></p>
    <p class="card-text">¥<%= item.with_tax_price.to_s(:delimited) %></p>
    </div>
    </div>
    <% end %>
    </div>
    <div>
    <h5><%= link_to "全ての商品を見る＞", items_path %></h5>
    </div>

    </div>