<div class="container">
<div class="row">

<h4>会員一覧</h4>


<table class="table table-hover table-inverse">
<thead class="table-borderless">
    <tr>
    <th scope="col">会員ID</th>
    <th scope="col">氏名</th>
    <th scope="col">メールアドレス</th>
    <th scope="col">ステータス</th>
    </tr>
  </thead>

  <tbody>
　<% @customers.each do |customer| %>

　 <tr>
　  <td><%= customer.id %></td>
　  <td>
　      <%= link_to admin_customer_path(customer.id) do %>
        <%= customer.last_name %><%= customer.first_name %><% end %>
    </td>
    <td><%= customer.email %></td>

    <td>
      <div class="text-success">
        <% if customer.is_deleted %>
          退会
        <% else %>
          有効
        <% end %>
      </div>
    </td>

    <% end %>
　 </tr>
　</tbody>
</table>

<%= paginate @customers %>