<div class="container">

<h4 class="mx-auto"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>

 <div class="row mx-auto">
  <div class="col-lg-2">会員ID</div>
  <div class="col-lg-10"><%= @customer.id %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">氏名</div>
  <div class="col-lg-10"><%= @customer.last_name %><%= @customer.first_name %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">フリガナ</div>
  <div class="col-lg-10"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">郵便番号</div>
  <div class="col-lg-10"><%= @customer.postal_code %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">住所</div>
  <div class="col-lg-10"><%= @customer.address %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">電話番号</div>
  <div class="col-lg-10"><%= @customer.telephone_number %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">メールアドレス</div>
  <div class="col-lg-10"><%= @customer.email %></div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2">会員ステータス</div>
  <div class="col-lg-10">
   <div class="text-success">
   <% if @customer.is_deleted %>
     退会
   <% else %>
     有効
   <% end %>
  </div>
  </div>
 </div>

 <div class="row mx-auto">
  <div class="col-lg-2"></div>
  <div class="col-lg-3">
   <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
  </div>

  <div class="col-lg-3">
   <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
  </div>
 </div>

</div>
