<div class="container">
<div class="row mx-auto">
<div class="col-md-10 col-sm-10 mx-2 mx-sm-auto align-text-center rounded px-0 my-5">

<h4>注文情報画面</h4>

<div class="row mx-auto">
<div class="col-8">

<table class="table table-bordered">
<thead>
 <tr>
  <th class="col-md-5">商品名</th>
  <th class="col-md-2">単価(税込)</th>
  <th class="col-md-2">数量</th>
  <th class="col-md-2">小計</th>
 </tr>
</thead>
<tbody>

<% @cart_items.each do |cart_item| %>

<tr>
<td><%= image_tag cart_item.item.get_image(5, 5) %><%= cart_item.item.name %></td>
<td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
<td><%= cart_item.amount %></td>
<td><%= cart_item.subtotal.to_s(:delimited) %></td>
</tr>

<% @total = @total + cart_item.subtotal %>

<% end %>
</tbody>
</table>
</div>

<div class="col-4">
<table class="table table-bordered">
  <tr>
    <th>送料</th>
    <td><%= @order.shipping_cost %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= @total.to_s(:delimited) %></td>
  </tr>
  <tr>
   <th>請求金額</th>
   <td><% @order.total_payment = @order.shipping_cost + @total.to_i %>
       <%= @order.total_payment.to_s(:delimited) %>
   </td>
  </tr>
</table>
</div>
</div>

<div class="row mx-auto">
<h5><strong>支払方法</strong></h5>
<span style="margin-left:20px;"><%= @order.payment_method_i18n %></span>
</div>

<div class="row mx-auto">
<h5><strong>お届け先</strong></h5>
<span style="margin-left:20px;">
  <%= @order.shipping_postal_code %>
  <%= @order.shipping_address %></br>
  <%= @order.shipping_name %></br>
</span>
</div>
</br>

<div class="row mx-auto">
<div class="col-12">
<div class="justify-content-center">

<%= form_with model: @order, url:orders_path, method: :post do |f| %>

<%= f.hidden_field :customer_id %>
<%= f.hidden_field :shipping_postal_code %>
<%= f.hidden_field :shipping_address %>
<%= f.hidden_field :shipping_name %>
<%= f.hidden_field :shipping_cost %>
<%= f.hidden_field :total_payment %>
<%= f.hidden_field :payment_method %>

<%= f.submit '注文を確定する', class: "btn btn-lg btn-success" %>

<% end %>
</div>
</div>

</div>
</div>