<div class="container">

<h4>注文履歴詳細</h4>
</br>
<div class="row mx-auto">
<div class="col-6 col-sm-6">

<h5>注文情報</h5>
<table class="table table-bordered">
  <tr>
    <th scope="row">注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th scope="row">配送先</th>
    <td><%= @order.shipping_postal_code %></br>
        <%= @order.shipping_address %></br>
        <%= @order.shipping_name %></br>
    </td>
  <tr>
    <th scope="row">支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
</table>
</div>

<div class="col-4 col-sm-4">

<h5>請求情報</h5>

<table class="table table-bordered">
 <tr>
   <th scope="row">商品合計</th>
   <td><% @sum = 0 %>
        <% @order.order_details.each do |order_detail| %>
        <% @sum += order_detail.purchase_price * order_detail.order_amount %>
        <% end %>
        <%= @sum.to_s(:delimited)  %>
   </td>
  </tr>
  <tr>
   <th scope="row">配送料</th>
   <td><%= @order.shipping_cost.to_s(:delimited)  %></td>
  </tr>
  <tr>
   <th scope="row"><strong>請求金額</strong></th>
   <td><%= @order.total_payment.to_s(:delimited) %></td>
  </tr>
 </table>

 </div>
 </div>

<div class="row mx-auto">
<div class="col-lg-8">
<h5>注文内容</h5>

<table class="table table-bordered">
 <thead>
  <tr>
    <th scope="col">商品</th>
    <th scope="col">単価</th>
    <th scope="col">個数</th>
    <th scope="col">小計</th>
   </tr>
  </thead>
  <tbody>
      <% @order.order_details.each do |order_detail| %>
   <tr>
    <td>
        <%= order_detail.item.name %></br>
    </td>
    <td><%= order_detail.purchase_price %></td>
    <td><%= order_detail.order_amount %></td>
    <td><% @subtotal = order_detail.purchase_price  * order_detail.order_amount %>
        <%= @subtotal.to_s(:delimited) %>
    </td>
   </tr>
  </tbody>
         <% end %>
 </table>

</div>
</div>

</div>