
 <div>
    <%= image_tag @item.get_image(200,200) %>
    <p>商品名<%= @item.name %></p>
    <p>商品説明<%= @item.introduction %></p>
    <p>税込価格：<%= @item.with_tax_price %></p>

    <%= form_with model: @cart_item, url:cart_items_path, method: :post do |f| %>
    <% if customer_signed_in? %>

    <%= f.hidden_field :item_id, :value => @item.id %>

    <% end %>

    <p>
      個数選択<%= f.select :amount, *[1..10], { include_blank: '個数選択' }%>
    </p>
    <p>
      <%= f.submit "カートに入れる" %>
    </p>
  </div>
  <% end %>
